body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f8ff;
}

.weather-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

#weather-info {
  margin-top: 15px;
  font-size: 18px;
}

#get-weather-btn {
  cursor: pointer;
  border: none;
  border: 2px solid rgb(158, 147, 147);
}
